/* gris oscuro #1d252c */
/* gris claro #626262 */
/* background gris #1b2127 */
/* celeste  #026fff */

/* Imports */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro');

/* Estilos generales */
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  background-color: #f1f1f1;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}
h1 {
  color: white;
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  margin: 0;
  /* text-transform: uppercase; */
  /* text-decoration: underline; */
}
h1 strong {
  color: #026fff;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bolder;
  font-size: 24px;
  margin: 0;
  padding: 20px;
}
ol, ul {
  margin: 0; 
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.header {
  height: 70px;
  background-color: #1d252c;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex: 1; /*Tomar todo el ancho de pantalla*/
  box-shadow: 0px 2px 10px #0000007a;
}
.header .logo img {
  height: 50px;
}
.header ol {
  display: flex;
}
.header ol li {
  height: 70px;
}
.header a {
  /* Aquí estuvo buena la parte de hacer ligas con alto y centradas */
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 600;
}
.contact-link {
  background: #056fff;
}
.hero {
  background-color: #1b2127;
  /* height: 300px; */
  /* background-image: url('./images/hero.jpg'); */
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 500px; */
  /* overflow: hidden; */
  height: 300px;;
  padding-left: 20px;
  flex-wrap: wrap;
}
.hero figure {
  height: inherit;
  overflow: hidden;
}
.hero-image {
  width: 500px;
  object-fit: cover;
}
.portfolio {
  background-color: #fbfbfb;
  padding-bottom: 5px;

}
.project {
  /* Los colores de borde se heredan del texto */
  margin: 0px 20px 15px 20px;
  padding: 20px;
  /* Una propiedad interesante es border-box, para fijar un ancho que suma los paddins y margins */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 9px 0px #8282823d;
  border: 1px solid #9898984f;
  background: white;
  /* border-radius: 3px; */
  flex-wrap: wrap;
}
.project-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
  
}
.project strong {
  font-family: 'Fjalla One', sans-serif;
}
.project-imageContainer {
  width: 500px;
}
.footer {
  color: white;
  background-color: #1d252c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  flex-wrap: wrap;
}
.footer img {
  width: 80px;
  /* para alinear textos mezclados con otros elementos */
  vertical-align: middle;
}
.footer a {
  color: white;
}
.event-list {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #fbfbfb;
}
.event-list-title {
  /* margin-left: 20px; */
  display: block;
}
.event {
  margin: 15px;
  width: 480px;
  border-radius: 7px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: hsl(202, 67%, 93%);
}
.event img {
  width: 480px;
  height: 200px;
  /* ATención, para ajustar imagenes */
  object-fit: cover;
}
.event-detail {
  margin: 40px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
}
.event-description {
  text-align: left;
}
.event-url {
  /* el border asimila el color del texto */
  color: #056fff;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.contact {
  background-color: #056fff;
  color: white;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.social-link {
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  display: inline-block;
  margin: 0 15px;
}
.social-link.twitter {
  background-image: url('./images/twitter.svg');
}
.social-link.facebook {
  background-image: url('./images/facebook.svg');
}
.social-link.github {
  background-image: url('./images/github.svg');
}
.social-link.instagram {
  background-image: url('./images/instagram.svg');
}
.form-email input {
  border: 1px solid #8080809e;
  border-radius: 7px;
  padding: 15px 20px 15px 45px;
  background-image: url(./images/envelope.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 12px;
  width: 180px;
  font-size: 1em;
}
.form-email button {
  /* display: block; */
  background: transparent;
  color: white;
  padding: 12px 25px;
  border: 1px solid;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 1.2em;
}
.form-email h3 {
  font-size: 1.5em;
  margin: 10px;
}
.main-container {
  max-width: 1024px;
  margin: 0 auto;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  /* border: 1px solid fuchsia; */
  flex-wrap: inherit;
  box-shadow: inherit;
  background: inherit;
  flex: inherit;
}
/* Media querys, practice */

/* For printing pages  */
/* @media print {
  html, body, div, form, img, ul, li, h1, h2, h3, h4, h5 {
    border: 2px black solid;
  }
} */

/* For screen and conditions  */
/* @media screen and (min-width: 320px) and (max-width: 450px){
  body {
    border: 5px solid red;
  }
} */
/* @media screen and (min-width: 320px) and (orientation: portrait){
  h1{
    font-size: 6rem;
  }
} */
