/* Media querys standar para Desktop First, recomendable asegurar se vea bien en estas medidas */

@media screen and (max-width: 1023px){
  
  .hero {
    height: 350px;
  }
  .hero h1 {
    font-size: 230%;
    padding: 1.5em 1em;
    letter-spacing: 1px;
    line-height: 50px;
  }
  .hero-image {
    margin-top: -70px;
  }
  .blue-border {
    border-left: 18px solid #026fff;
  }
  .project-details {
    width: 50%;
  }
  .project-imageContainer {
    width: 50%;
  }
  .event{
    width: 80%;
  }
  .event-imageContainer{
    max-height: initial;
  }
  .contact {
    height: 40vh;
  }
  .contact h3 {
    font-size: 2.5em;
  }
  .contact-photo {
    height: 60vh;
  }
  .contact-photo img {
    width: 100%;
    margin-top: -150px;
  }
}

@media screen and (max-width: 767px){ /* Un pixel abajo del ipad*/
  .header {
    height: auto;
    display: block;
  }
  .header ol {
    justify-content: flex-end;
  }
  .hero {
    height: 300px;
  }
  .hero h1 {
    font-size: 180%;
    padding: 2.5em 1em;
    line-height: 35px;
    background: unset;
  }
  .hero-image {
    margin-top: -50px;
  }
  .contact-link {
    background: none;
  }
  .project {
    display: block;
  }
  .project-details {
    width: auto; /*Mejor practica poner auto que 100%*/
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  .project-image {
    width: 85%;
  }
  .event-list {
    display: block;
  }
  .event {
    margin: 20px auto;
    width: 80%
  }
  .blue-border {
    border-left: 14px solid #026fff;
  }
  .contact {
    height: 45vh;
  }
  .contact-photo {
    height: 55vh;
  }
  .contact-photo img {
    margin-top: -100px;
  }
  
}

@media screen and (max-width: 479px){
  .header .logo {
    display: block;
    width: auto;
    padding: 10px 0;
  }
  .header .logo img {
    width: 160px;
  }
  .header .menu{
    background: #000000d8;
    position: fixed;
    top: 0;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: left 250ms ease-in-out;
  }
  .menu.is-active{
    left: 0;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 60px;
  }
  .header a:hover {
    background: none;
  }
  .header .home-link{
    opacity: 1;
  }
  .header a {
    justify-content: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.5em;
    text-decoration: underline;
  }
  .hero {
    height: 240px;
  }
  .hero h1 {
    font-size: 120%;
    line-height: 25px;
    font-weight: normal;
    letter-spacing: initial;
    background: #1d252caf;
    padding:  0.7em 0.3em;
    border-radius: 0 3px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .hero h1 strong {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.431);
  }
  .hero-image {
    margin-top: 40px;
    transform: scale(1.8);
  }
  .project {
    margin: 5px 5px 15px 5px;
    border: initial;
    flex-wrap: wrap;
    box-shadow: none;
  }
  .project-title {
    margin: 0 0 0.441176471em 0;
    font-size: 2em;
  }
  .project-details {
    font-size: 15px;
  }
  .project-image {
    width: 100%;
  }
  .event {
    margin: 10px auto;
    width: 90%;
    border-radius: 0;
  }
  .event-detail{
    padding: 0;
  }
  .event-title {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    padding-top: 8px;
  }
  .event-url {
    /* el border asimila el color del texto */
    background: initial;
    color: white;
    font-weight: bolder;
    padding: 0px 20px;
    text-decoration: underline;
    border: none;
    font-size: 20px;
    display: block;
    margin: 15px auto;
    transition: all 250ms ease-in-out;
  }
  .contact {
    height: initial;
  }
  .contact-photo {
    height: initial;
  }
  .contact-photo img {
    margin-top: 0;
    transform: scale(1.2);
  }
  .contact h3 {
    font-size: 2em;
  }
  .contact .form-email, .contact .social {
    padding: 2em 0;
  }
  .form-email button {
    background: transparent;
    color: white;
    padding: 13px 25px;
    margin: 20px auto;
    display: block;
    width: 56%;
  }
  .blue-border {
    border-left: 10px solid #026fff;
  }
  .icon-menu{
    display: block;
  }
}

@media screen and (max-width: 320px){
  .hero {
    height: 240px;
  }
  .hero h1 {
    font-size: 110%;
    line-height: 23px;
    padding:  0.3em 1em;
    right:0;
  }
  .hero-image {
    margin-top: 10px;
    transform: scale(1.5);
  }
  .project-details {
    font-size: 15px;
  }
  .event {
    margin: 40px 0;
    width: 100%;
    border-radius: initial;
  }
  .event-detail {
    margin: 0;
  }
  .form-email button {
    width: initial;
  }
  .form-email button {
    width: initial;
  }
  .contact .form-email, .contact .social {
    padding: 1em 0;
  }
  .blue-border {
    border-left: initial;
  }
}
